<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.dao.AppVersionDao">
  <resultMap id="BaseResultMap" type="com.app.pojo.AppVersion">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="appId" jdbcType="BIGINT" property="appid" />
    <result column="versionNo" jdbcType="VARCHAR" property="versionno" />
    <result column="versionInfo" jdbcType="VARCHAR" property="versioninfo" />
    <result column="publishStatus" jdbcType="BIGINT" property="publishstatus" />
    <result column="downloadLink" jdbcType="VARCHAR" property="downloadlink" />
    <result column="versionSize" jdbcType="DECIMAL" property="versionsize" />
    <result column="createdBy" jdbcType="BIGINT" property="createdby" />
    <result column="creationDate" jdbcType="TIMESTAMP" property="creationdate" />
    <result column="modifyBy" jdbcType="BIGINT" property="modifyby" />
    <result column="modifyDate" jdbcType="TIMESTAMP" property="modifydate" />
    <result column="apkLocPath" jdbcType="VARCHAR" property="apklocpath" />
    <result column="apkFileName" jdbcType="VARCHAR" property="apkfilename" />
    <result column="appname" jdbcType="VARCHAR" property="appname" />
    <result column="publishstatusname" jdbcType="VARCHAR" property="publishstatusname" />
  </resultMap>
  <sql id="Base_Column_List">
    id, appId, versionNo, versionInfo, publishStatus, downloadLink, versionSize, createdBy, 
    creationDate, modifyBy, modifyDate, apkLocPath, apkFileName
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from app_version
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="selAppVersionList" resultMap="BaseResultMap">
    SELECT av.*,
       (SELECT softwareName FROM app_info ai WHERE av.appid = ai.id ) AS appname,
       (SELECT valuename FROM data_dictionary dd WHERE av.`publishStatus` = dd.valueid AND typecode='PUBLISH_STATUS') AS publishstatusname
    FROM app_version av where av.appid = #{id}
  </select>


  <insert id="insAppVersion" parameterType="AppVersion">
    insert into app_version values(DEFAULT,#{appid},#{versionno},#{versioninfo},#{publishstatus},
    #{downloadlink},#{versionsize},#{createdby},now(),null,null,#{apklocpath},#{apkfilename})
  </insert>

  <select id="selAppVersionById" resultMap="BaseResultMap">
    select * from app_version where id = #{id}
  </select>

  <update id="upAppVersion">
    update app_version SET versioninfo = #{versioninfo},versionsize = #{versionsize},
    modifyby = #{modifyby},modifydate = now() where id = #{id}
  </update>

  <update id="upAppVersionloc">
    update app_version set downloadLink = null ,apkLocPath = NULL where id= #{id}
  </update>

  <delete id="delAppVersion">
    delete  from app_version where appid = #{aid}
  </delete>
</mapper>